@media screen and (width >= 320px) {
	#some-id {
		color: red;
	}
}

@media screen and (width >= 500px) {
	#some-id {
		color: red;
	}
}

.page-title {
	font-size: 10vw;
	color: #fff
}

.banner {
	background-image: url("../images/land-of-ooo.jpeg");
	position: relative
}


