@media screen and (width >= 320px) {
	#some-id {
		color: red;
	}
}

@media screen and (width >= 500px) {
	#some-id {
		color: red;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://www.ffonts.net/JejuHallasan.font');


body {
	background-color: #70bbdd;
	color: white;
	font-family: 'Istok Web', sans-serif;
	font-weight: 525;
	letter-spacing: 1px;
}

.page-title {
	font-size: 10vw;
	color: #fff;
	font-family: 'JejuHallasan', sans-serif;
}

.banner {
	background-image: url("../images/land-of-ooo.jpeg");
	background-size: cover;
	position: relative;
	min-height: 60vw;
	display: flex;
	align-items: center;
	justify-content: center;

}


